.view-on-gh-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.download-btn-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
