.project-card-img {
  padding: 10px;
  border-radius: 10px;
  width: 100%; /* Adjust the width as needed */
  height: 200px; /* Set the height you prefer */
  object-fit: contain; /* Ensures the image covers the area without stretching */
}